<link rel="stylesheet" href="/css/event.css">

<main class="event-page">
    <section class="event-hero">
        <div class="event-media">
            <% if (event.event_image) { %>
                <img src="/uploads/<%= event.event_image %>" alt="<%= event.event_name %>">
                <% } else { %>
                    <div class="event-placeholder">No Image</div>
                    <% } %>
        </div>

        <div class="event-info">
            <h1 class="event-title">
                <%= event.event_name %>
            </h1>

            <div class="event-meta">
                <div class="meta-item"><strong>Date:</strong>
                    <%= event.event_date.toLocaleDateString('en-US', { year: 'numeric' , month: 'long' , day: 'numeric'
                        }) %>

                </div>
                <div class="meta-item time" data-start="<%= event.event_start_time %>"
                    data-end="<%= event.event_end_time %>"><strong>Time:</strong> </div>
                <div class="meta-item"><strong>Location:</strong>
                    <%= event.event_location %>
                </div>
                <div class="meta-item"><strong>Type:</strong>
                    <%= event.event_type %>
                </div>
                <div class="meta-item"><strong>Price:</strong>
                    <%= (event.event_price>0) ? ( event.event_price + " PKR" ) : "Free" %>
                </div>
            </div>

            <div class="event-actions">
                <button class="join-btn" id="join_cta">Join Event</button>
            </div>

        </div>
    </section>

    <section class="event-description">
        <h2>About this Event</h2>
        <p>
            <%= event.event_description %>
        </p>
    </section>
</main>

<section class="event-joining-form" id="joining_form">
    <h3>Join <%= event.event_name %></h3>
    <p> on <%= event.event_date.toLocaleDateString('en-US', { year: 'numeric' , month: 'long' , day: 'numeric'
                        }) %></p>
    <form action="">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Your Full Name..."> 
        
        <label for="number">Mobile Number </label>
        <input type="tel" name="number" placeholder="03012030466"> 
        
        <label for="email">Email </label>
        <input type="email" name="email" placeholder="enter your email"> 
 
        <button type="submit" class="join-btn">Join Event</button>
    </form>
</section>

<script src="/js/event.js"></script>