<link rel="stylesheet" href="css/index.css">

<body>
    <section class="hero-minimal">
        <div class="container">
            <h1>Elevating Experiences</h1>
            <p>The heartbeat of Pakistan's most vibrant events. Find your next scene today.</p>
        </div>
    </section>

    <section class="controls-section">
        <div class="container">

            <div class="date-header ">
                <label>Filter by Date:</label>
                <input type="date" id="datePicker" placeholder="Select Date.." class="date-input">
            </div>

            <div class="filter-pills">
                <button class="pill active" btn-type="All Events">All Events</button>
                <button class="pill" btn-type="Tech">Tech</button>
                <button class="pill" btn-type="Music">Music</button>
                <button class="pill" btn-type="Workshops">Workshops</button>
                <button class="pill" btn-type="Startups">Startups</button>
            </div>
        </div>
    </section>
    <section class="listings">
        <div class="container">
            <div class="grid-container">
                <% allEvent.forEach(event=> { %>
                    <article class="event-card" data-date="<%= event.event_date.toISOString().split('T')[0] %>">
                        <div class="card-image">
                            <div class="img-placeholder"
                                style="background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%) ; ">
                                <img src="images/1316.jpg" alt=""> <!-- width 300px  height: 180px; -->
                            </div>
                            <span class="card-badge" event-type="<%= event.event_type %>">
                                <%= event.event_type %>
                            </span>
                            <span class="card-price">
                                <%= event.event_price==='free' || event.event_price===0 ? 'Free' : 'Rs ' +
                                    event.event_price %>
                            </span>
                        </div>
                        <div class="card-content">
                            <h3>
                                <%= event.event_name %>
                            </h3>
                            <div class="card-meta">
                                <span><i class="fas fa-map-marker-alt"></i>
                                    <%= event.event_location %>
                                </span>
                
                                <span data-start = "<%= event.event_start_time %>" data-end = "<%= event.event_end_time %>" class="time">
                                   
                                </span>
                                <span>
                                    <%= event.event_date.toISOString().split('T')[0]%>
                                </span>
                            </div>
                            <button class="join-btn">Join Event</button>
                        </div>
                    </article>
                    <% }) %>
            </div>
        </div>
    </section>

</body>
<script defer src="js/index.js"></script>