<link rel="stylesheet" href="css/index.css">

<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_red.css">


<body>
    <section class="hero-minimal">
        <div class="container">
            <h1>Elevating Experiences</h1>
            <p>The heartbeat of Pakistan's most vibrant events. Find your next scene today.</p>
        </div>
    </section>

    <section class="controls-section">
        <div class="container">

            <div class="date-header ">
                <label>Filter by Date:</label>
                <input type="text" id="datePicker" placeholder="Select Date.." class="date-input">
            </div>

            <div class="filter-pills">
                <button class="pill active">All Events</button>
                <button class="pill">Tech</button>
                <button class="pill">Music</button>
                <button class="pill">Workshops</button>
                <button class="pill">Startups</button>
            </div>
        </div>
    </section>
    <section class="listings">
        <div class="container">
            <div class="grid-container">
                <% allEvent.forEach(event=> { %>
                    <article class="event-card">
                        <div class="card-image">
                            <div class="img-placeholder"
                                style="background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%) ; ">
                                <img src="images/1316.jpg" alt=""> <!-- width 300px  height: 180px; -->
                            </div>
                            <span class="card-badge">
                                <%= event.event_type %>
                            </span>
                            <span class="card-price">
                                <%= event.event_price==='free' || event.event_price===0 ? 'Free' : 'Rs ' +
                                    event.event_price %>
                            </span>
                        </div>
                        <div class="card-content">
                            <h3>
                                <%= event.event_name %>
                            </h3>
                            <div class="card-meta">
                                <span><i class="fas fa-map-marker-alt"></i>
                                    <%= event.event_location %>
                                </span>
                                <span><i class="far fa-clock"></i>
                                    <%= event.event_start_time %> - <%= event.event_end_time %>
                                </span>
                            </div>
                            <button class="join-btn">Join Event</button>
                        </div>
                    </article>
                    <% }) %>
            </div>
        </div>
    </section>

</body>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
 <script defer src="js/index.js"></script>